#header{
    position: sticky;
    background-color: #FFFFFF;
    border-bottom: 1px solid #f2f2f2;

    margin:0px;
    padding: 0px;
    top: 0;
    left: 0;
    right: 0;

    height: 120px;   
    display: flex;
    flex-direction: row;
    align-items: center;

}

#logo{
    width: 356px;
    height: 50px;
    margin-left:50px;
    margin-right:14px;
}
#logo img{
    width: 356px;
}

#search{
    box-sizing: border-box;
    margin: 0 auto;
}
#search input{
    text-align:center;
    width: 679px;
    height:46.5px;
    border: 0px;
    border-bottom: 5px solid #f4b33d;
    box-sizing: border-box;

    background-image: url(./search.png);
    background-size: 30px;
    background-position: 7px 7px;
    background-repeat: no-repeat;

}
input:focus {outline:none;}


#navibox{
    margin-left: 0px;
    margin-right:0px;
}
#navibox ul{

    width:356px;    
    height:22.5px;
    list-style:none;
    padding-left:0px;
    margin:0px 64px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
#navibox li{
    width: 34px;
    height: 20px;
    
    font-size: 15px;
    font-weight: bold;
}
#navibox a{
    color: #f4b33d;
    text-decoration: none;
}