main {
    background-color: #f2f2f2;
    height: 10000px;
}
#container {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    height: 10000px;

    display: flex;
    flex-direction: column;
}
